body {
    margin: 0;
}

.link-sn {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    display: inline-block;
    padding-right: 6px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: #38f9d7;
}

.link-sn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #27272F;
    z-index: 1;
}

.link-sn-icon {
    position: relative;
    margin: 20%;
    fill: #38f9d7;
    z-index: 2;
}