/* --- GENERAL --- */

html {
    scroll-behavior: smooth;
}

*, a {
    font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3, h4, p, pre {
    margin: 0;
}

h1, h2, h3, h4, b {
    color: #004156;
}

p {
    color: #325561;
    line-height: 1.5;
    font-size: 18px;
}

a {
    font-weight: 600;
    color: #859094;
    transition: color 0.2s;
    text-decoration: none;
}

a:hover {
    color: #004156;
}

a:active {
    color: #001c25;
}
/*
a:visited {
    color: green;
}
*/

/* --- HEADER --- */


header img {
    display: block;
    margin: 25px auto;
    height: 20px;
}

header ul {
    margin: 5px 0 0;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

header li {
    list-style-type: none;
    display: inline-block;
    margin-right: 25px;
    padding-right: 25px;
    font-size: 18px;
    border-right: 2px solid #ebebeb;
    
}

header li:last-child {
    margin-right: 0;
    border-right: none;
}


/* --- ASIDE --- */

main > aside {
    padding-top: 40px;
    height: inherit;
    border-right: 1px solid #ebebeb;
}

main > aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.aside-film-ul > li {
    color: #004156;
    font-weight: 600;
    font-size: 20px;
    margin: 25px 0 5px;
}

.aside-film-ul > li:nth-child(1) {
    margin-top: 0;
}

.aside-hero-ul li {
    margin-bottom: 4px;
    font-weight: 500;
}

.aside-hero-ul li:last-child {
    margin-bottom: 0;
}


/* --- MAIN --- */


main {
    margin: 0 auto;
    width: 1140px;
    display: grid;
    grid-template-columns: 200px 1fr;
}

main > div {
    padding: 0 40px;
}


/* --- STUDIO --- */


.company-container {
    margin: 50px 0;
}

.company-container h2 {
    margin-bottom: 10px;
    font-size: 30px;
}

.company-container p {
    margin-bottom: 35px;
}

.company-container img {
    display: block;
    margin: 0 auto;
    width: 700px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.company-container figcaption {
    color: #859094;
    font-size: 16px;
    text-align: center;
}


/* --- HEROES --- */

.heroes-container {
    margin-bottom: 70px;
}

.heroes-container > h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.hero-card {
    display: grid;
    grid-template-columns: 1fr 200px;
    margin-bottom: 30px;
    padding: 30px 40px;
    border-radius: 10px;
    outline: 1px solid #ebebeb;
}

.hero-card:last-child {
    margin-bottom: 0;
}

.hero-text-container {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
}

.hero-name {
    font-size: 24px;
    margin-bottom: 10px;
}

.hero-desc p {
    margin-bottom: 10px;
}

.hero-desc p:last-child {
    margin-bottom: 0;
}

.hero-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img {
    max-width: 200px;
    max-height: 300px;
}


/* --- FOOTER --- */

footer {
    border-top: 1px solid #ebebeb;
    text-align: center;
}

address {
    font-size: 16px;
    color: #859094;
    padding: 20px 0;
    border-bottom: 1px solid #ebebeb;
}

.footer_title {
    font-style: normal;
    font-size: 20px;
    margin-bottom: 10px;
}

.footer_title ~ a {
    text-decoration: underline;
    margin: 0 30px 0 5px;
}

.footer_title ~a:last-child {
    margin-right: 0;
}

.footer_title + a {
    color: #0077FF;
}

.footer_title + a:hover {
    color: #0f5cb4;
}

.footer_title + a:active {
    color: #154a88;
}

footer small {
    display: inline-block;
    margin: 10px 0;
    font-size: 14px;
    color: #859094;
}