body {
    margin: 0;
    background: hsl(230, 5%, 95%);
}

.section-cards {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 25px;
    padding: 25px;
    width: 75%;
    height: 200px;
    background: white;
    box-shadow: 0 0 10px 0 #0000001c;
    border-radius: 10px;
}

.card {
    flex-grow: 1;
    background: hsl(230, 15%, 85%);
    border-radius: 8px;
    cursor: pointer;
    filter: brightness(0.85);
    transition: filter 0.5s;
}

.section-cards:has(.card:hover) .card {
    filter: brightness(0.7)
}

.card:hover {
    filter: brightness(1) !important;
}